{% if template == 'product' and product.vendor != 'wrapin' %}
	<div id='ptw-wrapin' data-page='product'></div>
{% endif %}
{% if template == 'cart' %}
	<div id='ptw-wrapin' data-page='cart'></div>
{% endif %}
<script src='https://apps.prezentech.com/wrapin/public/js/load-app.js'></script>
